<div class="row">
	<div class="col-lg-4 col-lg-offset-4">
		<h2 class="text-center">Login</h2>
		
		<div class="row">
			<div class="col-lg-12">
				<input class="form-control input-lg" id="username-field" type="text" placeholder="Username" />
			</div>
		</div>
		
		<br/>
		
		<div class="row">
			<div class="col-lg-12">
				<input class="form-control input-lg" id="password-field" type="password" placeholder="Password" />
			</div>
		</div>
		
		<br />
		
		<div class="row">
			<div class="col-lg-12">
				<button id="login-btn" class="btn btn-lg btn-success btn-block">Login</button>
			</div>
		</div>
		
		<br />
		
		<div class="row" id="invalid-credentials" style="display: none;">
			<div class="col-lg-12">
				<div class="alert alert-danger text-center">Väärä käyttäjänimi tai salasana</div>
			</div>
		</div>
	</div>
</div>